html, body {
    margin:0;
    padding: 0;
  }
  body {
    background: #3A4042;
    color: #FFF;
    justify-content:center;
    align-items: center;
    
    font-size: 12px;

  }
  #botao {
      text-align: center;
  }
  button {
    background-color: #F25A70;
    color: #FFF;
    padding: 8px;
    border-radius: 10%;
    font-weight: bold;
    *margin: 0 auto;
    text-align: center;
  }
  .submit {
    background-color: #F25A70;
    color: #FFF;
    padding: 8px;
    border-radius: 10%;
    font-weight: bold;
  } 
  h1 {
    background-color: #130211;
    text-shadow: 0.1em 0.1em 0.15em #ff69b4;
    margin: 0;
    padding: 20px;
    font-family: 'Press Start 2P';
  }
  h2 {
    background-color: #130211;
    text-shadow: 0.1em 0.1em 0.15em #ff69b4;
    margin: 0;
    padding: 20px;
    font-family: 'Press Start 2P';
  }
  .efeito {
    text-shadow: 0.1em 0.1em 0.15em #ff69b4;
  }
  .aling-left {
    padding-left: 10px;
  }
